#bodyLogin{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.pozdrav {
    text-align: right;
    font-family: Raleway;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.2em;
    line-height: 4em;
    font-size: 15px;
    background-color: rgba(128, 128, 128, 0.8);
    float: left;
    z-index: 99;
}

.pozdrav a{
    padding: 5px 5px 5px 15px;
    color: #FFFFFF;
    font-size: 15px;
}


.pozdrav #korisnik {
    padding: 5px 5px 5px 15px;
    color: #D8262C;
    font-size: 15px;
}

.login-box{
    width: 310px;
    height: 450px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #aaaaaa;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #0033cc;
}

#greska{
    color: red;
}


@media only screen and (max-width: 480px) {
    
    #bodyLogin{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #DDD;
    
}

}


@media only screen and (min-width: 481px) and (max-width: 720px){
    
    #bodyLogin{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #DDD;
    
}

}