@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body
{
    margin: 0px;
    background-color: #e5e5e7;
}

header
{
    font-family: Raleway;
    margin: 0 auto;
    text-align: center;
    background: #555;
    color: #FFF;
}

footer {
    background: #555;
    clear: both;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    position: relative;
    font-size: 20px;
    color: #FFF;
}

header h1
{
    color: #AAA;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
}

div.container
{
    font-family: Raleway;
    margin: 0 auto;
    padding: 2em 2em;
    text-align: center;
    background-color: #00bcd4;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* Top and Bottom borders come in */
div.topBotomBordersIn a:before, div.topBotomBordersIn a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersIn a:before
{
    top: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersIn a:after
{
    bottom: 0px;
    transform: translateY(10px);
}

div.topBotomBordersIn a:hover:before, div.topBotomBordersIn a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

.container .icon {
    display: none;
    font-size: 30px;
}


.headerImg{
    width: 100%;
    height: 100%;
    max-height: 400px;
}

.slika{
    width: 200px;
    height: 300px;
    float: left;
    padding: 25px 25px;
}

.tekst{
    list-style-type: none;
    text-align: left;
    float:left;
    width:30%;
    padding: 20px 20px;
    margin: 5px 5px;
}

#sadrzaj {
    width: 100%;
    display: flex;
    justify-content: center;
}

h2{
    color:#00bcd4;
    font: 30px Raleway;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

form{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 98%;
    float: left;
    justify-content: center;

}.inputRegistracija{
    float: left;
    width: 30%;
}

.labelRegistracija{
    float: left;
    width: 20%;
}

.inputDatumRodenja{
    width: 10%;
    float:left;
}

.greska1 {
    color: #0033cc;
    font-size: 16px;
}

form div {
    width: 90%;
    float: left;
}

.cookiesContainer{
    bottom: 50px;
    background-position: 24px 50%;
    position: fixed;
    width: 80%;
    margin-left: 10%;
    border-radius: 40px;
    padding: 15px 0;
    box-shadow: 0 0 16px 2px rgba(0,0,0,0.1);
    background-repeat: no-repeat;
    background-size: 31px 31px;
    background-image: url(https://assets.infinum.co/assets/cookies-86cfd58bffbab94d0833944d0730cfcd.png);
    z-index: 9999;
    background-color: rgba(0,0,0,0.9);
    display: none;
}

.cookiesContainer .cookiesContent {
    padding: 0 70px;
    color:white;
}

.cookiesContainer .cookiesLink {
    display: inline;
    border-bottom: 1px solid #DDD;
    margin-right: 7px;
    color: #D8262C;
}

.cookiesContainer .cookiesButton .cookiesButtonOK {
    height: 30px;
    background-image: none;
    border: 0;
    border-left-width: 0px;
    border-left-style: none;
    border-left-color: currentcolor;
    color: #D8262C;
    border-left: 1px solid #DDD;
    background-color: transparent;
    display: inline;
}

.cookieForm{
    background-color: transparent; 
    width: 85%;
}

.cookieForm div{
    width: 60%;
    float: left;
}

.pozdrav {
    text-align: right;
    font-family: Raleway;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.2em;
    line-height: 4em;
    font-size: 15px;
    background-color: rgba(128, 128, 128, 0.8);
    float: left;
    z-index: 99;
}

.pozdrav a{
    padding: 5px 5px 5px 15px;
    color: #FFFFFF;
    font-size: 15px;
}


.pozdrav #korisnik {
    padding: 5px 5px 5px 15px;
    color: #D8262C;
    font-size: 15px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 320px;
  margin: 60px 50px;
  text-align: center;
  font-family: arial;
  float:left;
  height: 500px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #00bcd4;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.round {
    border-radius: 50%;
    background-color: #00bcd4;
    color: white;
    height: 40px;
    width: 40px;
    font-weight: bold;
    font-size: 20px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

#vrijeme{
    width: 100%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

tr:hover{
    background-color: #555;
    color: white;
}

/* The Close Button */
.close {
    color: #00bcd4;
    float: right;
    font-size: 35px;
    font-weight: bold;
    margin-left:20px;
}

.close:hover,
.close:focus {
    color: #D8262C;
    text-decoration: none;
    cursor: pointer;
}